/* ESTILOS GENERALES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: justify;
}

#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    background-size: cover;
    background-image: url('../img/bg-header4.png');
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: 0.6;
}

.contenedor.header {
    height: calc(100vh - 55px);
    border: 3px solid #555555;
}

.barra-navegacion ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion li {
    list-style: none;
    display: inline-block;
}

.barra-navegacion .logo {
    color: #3584df;
    font-size: 50px;
}

.barra-navegacion a {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    transition: 0.5s ease;
}

.barra-navegacion a:hover {
    color: #ffffff;
    border-bottom: 1px solid currentcolor;
}

.contenido-descripcion {
    width: 60%;
    display: flex;
    height: 100%;
    align-items: center;
}

.contenido-descripcion .titulo {
    text-transform: uppercase;
    letter-spacing: 5px;
}

.contenido-descripcion .titulo span:first-child {
    font-size: 50px;
    display: block;
    font-weight: 300;
}

.contenido-descripcion .titulo span:last-child {
    font-weight: 900;
    font-size: 100px;
}

.contenido-descripcion .btn-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 25px 0;
    text-transform: uppercase;
    text-decoration: none;
    color: #3db1ff;
    border: 1px solid #555555;
    animation: parpadeo 2s linear infinite;
    transition: 0.7s ease;
}

.contenido-descripcion .btn-link:hover {
    border: 1px solid #3584df;
    animation: none;
}

.contenido-principal {
    width: 90%;
    max-width: 1200px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: 0.6;
}

.contenido-secundario {
    display: flex;
    justify-content: space-between;
}

.cajas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url('../img/bg-header4.png');
    background-size: cover;
}

.caja-1 {
    width: 45%;
    color: #ffffffbe;
    padding: 20px;
    overflow: hidden;
    display: flex;
    vertical-align: top;
    height: calc(100vh - 55px);
    border: 3px solid #555555;
    flex-direction: column;
    justify-content: space-around;
}

.caja-2 {
    width: 45%;
    color: #ffffffbe;
    padding: 20px;
    overflow-y: auto;
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
    height: calc(100vh - 55px);
    border: 3px solid #555555;
}

.caja-3 {
    width: 90%;
    max-width: 1200px;
    background-size: cover;
    background-image: url('../img/bg-header4.png');
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    padding: 20px 30px;
    position: relative;
    z-index: 99;
    opacity: 0.6;
    height: calc(100vh - 55px);
    border: 3px solid #555555;
}

.carrusel {
    border: 2px solid crimson;
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen {
    width: 40%;
    height: 100%;
    border: #3db1ff solid 2px;
    object-fit: cover;
    max-width: 100%;
}

.text {
    width: 50%;
    height: 100%;
    border: #3db1ff solid 2px;
    font-size: 10px;
    overflow: hidden;
}

.caja-3 {
    overflow: hidden;
    /*margin: auto;*/
    background-image: url(../img/imcaja3.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

#raPCI1 {
    width: 4%;
    height: 37%;
    /*outline: 1px solid white;*/
    position: absolute;
    left: 7%;
    top: 22%;
}

#raPCI2 {
    width: 4%;
    height: 37%;
    /*outline: 1px solid white;*/
    position: absolute;
    left: 15.2%;
    top: 22%;
}

#raPCI3 {
    width: 4%;
    height: 37%;
    /*outline: 1px solid white;*/
    position: absolute;
    left: 23%;
    top: 22%;
}


/* Deportes Page */



.body {
    background-size: cover;
    background-image: url('../img/bg-header4.png');
    background-position: center;
}

.nav_lista li {
    padding: .5rem 1rem;
}

.nav_lista li a {
    color: white;
    font-size: large;
}

.section_article {
    gap: 1rem;
}

/* RECUERDOS */

.items_recuerdo img {
    width: 188px;
    height: 188px;
}

.items_recuerdo {
    padding: 15px;
}

.items_recuerdo {
    text-align: center;
}
#raRam1 {
    width: 59%;
    height: 3%;
    position: absolute;
    right: 6%;
    bottom: 20.5%;
    /*outline: 1px solid white;*/
}

#raRam2 {
    width: 59%;
    height: 3%;
    position: absolute;
    right: 6%;
    bottom: 16.5%;
    /*outline: 1px solid white;*/
}

#batCMOS {
    width: 8.5%;
    height: 10%;
    position: absolute;
    bottom: 23.5%;
    left: 3.5%;
    border-radius: 80%;
    /*outline: 1px solid white;*/
}

#ranAGP {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 4%;
    height: 40%;
    left: 31%;
    top: 32%;
}

#procesador {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 19.8%;
    height: 21%;
    right: 11%;
    top: 38.5%;
}

#northbridge {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 14.5%;
    height: 17%;
    top: 49%;
    left: 46%;
}

#southbridge {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 8.5%;
    height: 9.5%;
    left: 11.5%;
    bottom: 14%;
    border-radius: 8px;
}

#conIde1 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 23.4%;
    height: 4%;
    bottom: 6%;
    left: 34.2%;
}

#conIde2 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 23.1%;
    height: 3.8%;
    bottom: 1.2%;
    left: 34.2%;
}

#bios {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 5%;
    height: 8.2%;
    bottom: 5%;
    right: 5.5%;
}

#puertoParale {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 20%;
    height: 11%;
    top: 1%;
    right: 22%;
}

#puertUSB1 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 5%;
    height: 8%;
    border-bottom-right-radius: 34%;
    top: 5%;
    right: 11.5%;
}

#conectPerif1 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 5%;
    height: 10%;
    top: 3%;
    left: 36.5%;
}

#conectPerif2 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 7.5%;
    height: 12%;
    top: 3%;
    left: 43%;
    border-top-right-radius: 38%;
    border-bottom-left-radius: 38%;
}

#conectPerif3 {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 6%;
    height: 11%;
    top: 2%;
    right: 3.5%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 16px;
}

#conectAlim {
    /*outline: 1px solid white;*/
    position: absolute;
    width: 17.5%;
    height: 4%;
    top: 21.5%;
    right: 8%;
>>>>>>> d02f7c4ca740ae95f1f6b13072a5b4d2881515b1
}
