BODY {font-family: "Comic Sans MS"; font-size: 10pt; color: navy; background: white; margin-left: 0.5in; margin-right: 0.5in}
H1 {Font-Size: 20pt; Font-Style: Normal; Font-Weight: Extra-light; Color: red; Text-align: center}
H2 {Font-Size: 16pt; Font-Style: Normal; Font-Weight: Extra-light; Color: blue;}
H3 {Font-Size: 16pt; Font-Style: Normal; Font-Weight: Extra-light; Color: +navy;}